
<p-toast></p-toast>

<p-table 
    [value]="memberService.getAll()"
    editMode="row"
    dataKey="id"
    >
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Active</th>
            <th></th>
        </tr>
    </ng-template>

    <ng-template 
        pTemplate="body" 
        let-member
        let-editing="editing" 
        let-ri="rowIndex">
        <tr [pEditableRow]="member">
            <td>{{ member.id }}</td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="member.name"/>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ member.name }}
                    </ng-template>

                </p-cellEditor>
            </td>
            <td>{{ member.email }}</td>
            <td>{{ member.active ? "Active" : "Inactive" }}</td>
            <td>
                <button 
                    *ngIf="!editing" 
                    pButton pRipple type="button" 
                    pInitEditableRow 
                    icon="pi pi-pencil" 
                    (click)="onRowEditInit(member)" 
                    class="p-button-rounded p-button-text">
                </button>
                <button 
                    *ngIf="editing" 
                    pButton pRipple type="button" 
                    pSaveEditableRow 
                    icon="pi pi-check" 
                    (click)="onRowEditSave(member)" 
                    class="p-button-rounded p-button-text p-button-success mr-2">
                </button>
                <button 
                    *ngIf="editing" 
                    pButton pRipple type="button" 
                    pCancelEditableRow 
                    icon="pi pi-times" 
                    (click)="onRowEditCancel(member, ri)" 
                    class="p-button-rounded p-button-text p-button-danger">
                </button>
                <button
                    *ngIf="!editing"
                    pButton pRipple type="button"
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-text p-button-danger"
                    (click)="onRowEditDelete(member)"
                >

                </button>
            </td>
        </tr>
    </ng-template>
</p-table>
